<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>157140444-ks5mugin7de9r2oldimcjlq1j31acqcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157140444-ks5mugin7de9r2oldimcjlq1j31acqcu</string>
	<key>API_KEY</key>
	<string>AIzaSyCt5BKNm4SF63EkPBZ8OKGr6Xp7TLYloUI</string>
	<key>GCM_SENDER_ID</key>
	<string>157140444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bba.tamm</string>
	<key>PROJECT_ID</key>
	<string>tamm-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tamm-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:157140444:ios:2154e1f474f0de45</string>
	<key>DATABASE_URL</key>
	<string>https://tamm-app.firebaseio.com</string>
</dict>
</plist>
