<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>تم</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb907643802709363</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.157140444-ks5mugin7de9r2oldimcjlq1j31acqcu</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>38</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>4f1d356981fcb72b2a564e565bf1472364904aa0</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>bB8ASgppAnfalb0BHCwa63dqU</string>
					<key>consumerSecret</key>
					<string>AC168EC7WKu588JAp04gZkPop2WHbeaznp5O9JQEldAXSnyiMy</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>907643802709363</string>
	<key>FacebookDisplayName</key>
	<string>tamm</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Allow permission to access your gallery in order to upload media of the item you wish to sell</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow permission to access camera in order to take photo/video of the item you wish to sell</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow permission to access your contacts in order to share the app details with them</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow permission to access your location in order to show you posts in your area.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow permission to access your location in order to show you posts in your area.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow permission to access microphone in order to record video of the item you wish to sell</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow permission to access your gallery in order to upload photo/video of the item you wish to sell</string>
	<key>UIAppFonts</key>
	<array>
		<string>SanFranciscoDisplay-Semibold.otf</string>
		<string>SanFranciscoDisplay-Heavy.otf</string>
		<string>SanFranciscoDisplay-Light.otf</string>
		<string>SanFranciscoDisplay-Regular.otf</string>
		<string>SanFranciscoDisplay-Medium.otf</string>
		<string>SanFranciscoDisplay-Thin.otf</string>
		<string>SanFranciscoDisplay-Bold.otf</string>
		<string>Cairo-Black.ttf</string>
		<string>Cairo-Bold.ttf</string>
		<string>Cairo-ExtraLight.ttf</string>
		<string>Cairo-Light.ttf</string>
		<string>Cairo-Regular.ttf</string>
		<string>Cairo-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
