<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createpost</key>
	<string>http://www.tammapp.com/app/createpost.php</string>
	<key>loginsignup</key>
	<string>http://www.tammapp.com/app/loginsignup.php</string>
	<key>viewpost</key>
	<string>http://www.tammapp.com/app/viewposts.php</string>
	<key>makeoffer</key>
	<string>http://www.tammapp.com/app/makeoffer.php</string>
	<key>savepicture</key>
	<string>http://www.tammapp.com/app/savepicture.php</string>
	<key>removepicture</key>
	<string>http://www.tammapp.com/app/removepicture.php</string>
	<key>suggestpost</key>
	<string>http://www.tammapp.com/app/suggestedposts.php</string>
	<key>postimages</key>
	<string>http://www.tammapp.com/app/postimages.php</string>
	<key>cancelpost</key>
	<string>http://www.tammapp.com/app/cancelpost.php</string>
	<key>chatcomments</key>
	<string>http://www.tammapp.com/app/chat.php</string>
	<key>addchat</key>
	<string>http://www.tammapp.com/app/addchat.php</string>
	<key>itemsold</key>
	<string>http://www.tammapp.com/app/itemsold.php</string>
	<key>addfavourite</key>
	<string>http://www.tammapp.com/app/addfavourite.php</string>
	<key>viewfavourites</key>
	<string>http://www.tammapp.com/app/viewfavourites.php</string>
	<key>boostpost</key>
	<string>http://www.tammapp.com/app/boostpost.php</string>
	<key>salepoints</key>
	<string>http://www.tammapp.com/app/salepoints.php</string>
	<key>payfee</key>
	<string>http://www.tammapp.com/app/payfee.php</string>
	<key>activity</key>
	<string>http://www.tammapp.com/app/activity.php</string>
	<key>activityaddchat</key>
	<string>http://www.tammapp.com/app/activityaddchat.php</string>
	<key>activitychat</key>
	<string>http://www.tammapp.com/app/activitychat.php</string>
	<key>activityticker</key>
	<string>http://www.tammapp.com/app/activityticker.php</string>
	<key>activitystep2</key>
	<string>http://www.tammapp.com/app/activitystep2.php</string>
	<key>notifications</key>
	<string>http://www.tammapp.com/app/notifications.php</string>
	<key>verifymobile</key>
	<string>http://www.tammapp.com/app/verifymobile.php</string>
	<key>deleteaccount</key>
	<string>http://www.tammapp.com/app/deleteaccount.php</string>
	<key>changepassword</key>
	<string>http://www.tammapp.com/app/changepassword.php</string>
	<key>forgotpassword</key>
	<string>http://www.tammapp.com/app/forgotpassword.php</string>
	<key>connect_fb_twitter</key>
	<string>http://www.tammapp.com/app/connect_fb_twitter.php</string>
	<key>invite_contacts</key>
	<string>http://www.tammapp.com/app/invite_contacts.php</string>
	<key>show_contacts</key>
	<string>http://www.tammapp.com/app/show_contacts.php</string>
	<key>addfriend</key>
	<string>http://www.tammapp.com/app/addfriend.php</string>
	<key>invite_fb_twitter</key>
	<string>http://www.tammapp.com/app/invite_fb_twitter.php</string>
	<key>searchcategories</key>
	<string>http://www.tammapp.com/app/searchcategories.php</string>
	<key>search</key>
	<string>http://www.tammapp.com/app/search.php</string>
	<key>uploadpostmedia</key>
	<string>http://www.tammapp.com/app/uploadpostmedia.php</string>
	<key>savesettings</key>
	<string>http://www.tammapp.com/app/savesettings.php</string>
	<key>flag</key>
	<string>http://www.tammapp.com/app/flag.php</string>
</dict>
</plist>
