<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createpost</key>
	<string>http://www.tammapp.com/app/createpost.php</string>
	<key>loginsignup</key>
	<string>http://www.tammapp.com/app/loginsignup.php</string>
	<key>viewpost</key>
	<string>http://www.tammapp.com/app/viewposts.php</string>
	<key>makeoffer</key>
	<string>http://www.tammapp.com/app/makeoffer.php</string>
	<key>savepicture</key>
	<string>http://www.tammapp.com/app/savepicture.php</string>
	<key>removepicture</key>
	<string>http://www.tammapp.com/app/removepicture.php</string>
	<key>suggestpost</key>
	<string>http://www.tammapp.com/app/suggestedposts.php</string>
	<key>postimages</key>
	<string>http://www.tammapp.com/app/postimages.php</string>
	<key>cancelpost</key>
	<string>http://www.tammapp.com/app/cancelpost.php</string>
	<key>chatcomments</key>
	<string>http://www.tammapp.com/app/chat.php</string>
	<key>addchat</key>
	<string>http://www.tammapp.com/app/addchat.php</string>
</dict>
</plist>
